In [35]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [145]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1222,tt2191701,80000000,246984278,Grown Ups 2,Adam Sandler|Kevin James|Chris Rock|David Spad...,Dennis Dugan,Just because they're a little older doesn't me...,The all-star comedy cast from Grown Ups return...,100,Comedy,Columbia Pictures|Happy Madison Productions|So...,7/11/2013,5.9,2013
1316,tt0401792,40000000,158733820,Sin City,Jessica Alba|Devon Aoki|Alexis Bledel|Powers B...,Robert Rodriguez|Frank Miller|Quentin Tarantino,Walk down the right back alley in Sin City and...,Welcome to Sin City. This town beckons to the ...,124,Action|Thriller|Crime,Dimension Films|Troublemaker Studios|Miramax,3/31/2005,7.1,2005
251,tt1190080,200000000,769653595,2012,John Cusack|Amanda Peet|Chiwetel Ejiofor|Thand...,Roland Emmerich,We Were Warned.,"Dr. Adrian Helmsley, part of a worldwide geoph...",158,Action|Adventure|Science Fiction,Columbia Pictures|Centropolis Entertainment|Th...,10/10/2009,5.6,2009
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1550,tt0452637,75000000,42285169,Lady in the Water,Paul Giamatti|Jeffrey Wright|Bob Balaban|Sarit...,M. Night Shyamalan,Time is running out for a happy ending.,Apartment building superintendent Cleveland He...,110,Drama|Thriller|Fantasy|Mystery,Legendary Pictures|Warner Bros.|Blinding Edge ...,7/21/2006,5.2,2006

In [146]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [138]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#13 задание 
data["profit"] =  data['revenue'] - data['budget']
data.release_date = pd.to_datetime(data.release_date)
data.release_date
data['release_month'] = data.release_date.dt.month
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#Функция поиск максимума в словаре
def MaxSearch (counter):
    c = 0 
    for i in counter:
        if counter[i] > c:
            c =counter[i]
            m = i
    print(m)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [39]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [40]:
# тут пишем ваш код для решения данного вопроса:

data.loc[data.budget==data.budget.max(),'original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [41]:
# можно добавлять разные варианты решения
data[['budget', 'original_title', 'imdb_id']].sort_values('budget', ascending=False)[:1]

        budget                               original_title    imdb_id
723  380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [42]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [43]:
data.loc[data.runtime==data.runtime.max(),'original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [44]:
answers['3'] = 'Winnie the Pooh'

In [45]:
data.loc[data.runtime==data.runtime.min(),'original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [46]:
answers['4'] = 109.6585494970884

In [47]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [48]:
answers['5'] = 107

In [49]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,release_month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [50]:
answers['6'] = 'Avatar'

In [51]:
data.loc[data.profit==data.profit.max(),'original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [52]:
answers['7'] = 'The Lone Ranger'

In [53]:
data.loc[data.profit==data.profit.min(),'original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [54]:
answers['8'] = 1478

In [55]:
data[(data.profit > 0)].count().values[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [56]:
answers['9'] = 'The Dark Knight'

In [57]:
data.loc[(data.profit.max())& (data.release_year == 2008),'original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [58]:
answers['10'] = 'The Lone Ranger'

In [59]:
par = (data.profit==data.profit.min()) & ( data.release_year < 2014) & (data.release_year > 2012)
data.loc[par,'original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [60]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [61]:
answers['11'] = 'Drama'

In [140]:
genres = data.genres.str.split('|').sum()

from collections import Counter
counter = Counter(genres)


MaxSearch (counter)

AttributeError: 'DataFrame' object has no attribute 'C'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [63]:
answers['12'] = 'Drama'

In [64]:
data_tmp = data[data['profit'] > 0]
pd.Series((data_tmp.genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [65]:
answers['13'] = 'Peter Jackson'

In [66]:
d =  set(data.director.str.split('|').sum()) #находим уникальные имена режиссеров

directors = {} #создаем словарь 
for i in d:
    s = data[data.director.str.contains(i)].revenue.sum() #суммируем сборы по всем фильмам режиссера 
    directors[i] = s #добавляем в словарь

#находим максимальное значение в словаре
MaxSearch (directors)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [67]:
answers['14'] = 'Robert Rodriguez'

In [68]:
d =  set(data[data.genres.str.contains('Action')].director.str.split('|').sum())
A = {}
for i in d:
    s = data.loc[data.genres.str.contains('Action') & data.director.str.contains(i)].count().values[0]
    A[i]= s

MaxSearch(A)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [69]:
answers['15'] = 'Chris Hemsworth'

In [70]:
#фильтруем ДФ по дате релиза:
df = data[['revenue', 'original_title', 'cast', 'release_year']]
sort_df = df.loc[(df['release_year'] == 2012)]

#Создаем список уникальных имен актеров 2012 года, Series:
actors = data.loc[(data.release_year == 2012), 'cast']
unic_actors =  set(actors.str.split('|').sum())

#Цикл для суммирования кассовых сборов по всем фильмам каждого актера:
actors_2012 = {} #создаем словарь 
for i in unic_actors:
    revence_actor =sort_df[sort_df.cast.str.contains(i)].revenue.sum() #суммируем сборы по всем фильмам режиссера 
    actors_2012[i] = revence_actor #добавляем в словарь

#находим максимальное:
MaxSearch(actors_2012)

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)

In [71]:
answers['16'] = 'Matt Damon'

In [72]:
#Два условия: создаем счетчик с условием >data.budget.mean() и разделяем актеров через \

#Создаем список уникальных имен актеров, Series:
unic_actors =  set(data.cast.str.split('|').sum())

#Счетчик фильмов по актеру

actors = {}
for i in unic_actors:
    count = 0 
    r = data[data.cast.str.contains(i)].budget
    for elements in r:
         if elements > data.budget.mean():
            count += 1
    actors[i] = count

#находим максимальное:
MaxSearch(actors)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [73]:
answers['17'] = 'Action'

In [74]:
#Создаем список всех жанров, в которых он снимался 
NC = data[data.cast.str.contains('Nicolas Cage')].genres
all_genres =  (NC.str.split('|').sum())        

#Используем Counter для вычисления числа вхождения каждого жанра и выводим первый элемент
from collections import Counter
counter = (Counter(all_genres))

MaxSearch(counter)

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [75]:
answers['18'] = 'K-19: The Widowmaker'

In [76]:
PP = data[data.production_companies.str.contains('Paramount Pictures')].profit.min()
data[data.profit == PP].original_title.values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [77]:
answers['19'] = '2015'

In [78]:
#Просуммировать по годам и найти максимальное
#Список всех годов релиза
release_years =  set(data.release_year)

#суммируем по годам
r = {}
for i in release_years:
    s = data.loc[data.release_year == i].revenue.sum()
    r[i] = s
#находим максимальное:
MaxSearch (r)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [79]:
answers['20'] = '2014'

In [80]:
#Список всех годов релиза
release_years =  set(data.release_year)


#суммируем по годам
r = {}
for i in release_years:
    s = data[(data.release_year == i) & (data.production_companies.str.contains('Warner Bros'))].profit.sum()
    r[i] = s

#находим максимальное:
MaxSearch(r)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [81]:
answers['21'] = '9'

In [82]:
month = data.release_date.dt.month.value_counts()
month.sort_values(ascending=False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [83]:
answers['22'] = '450'

In [84]:
month = data.release_date.dt.month.value_counts()
sorted_month = month.sort_index ()
sorted_month.iloc[[5,6,7]].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [85]:
answers['23'] = 'Peter Jackson'

In [86]:
s = data.loc[data.release_month.isin([12, 1, 2])]
unic_dir =  (s.director.str.split('|').sum())
from collections import Counter
counter = (Counter(unic_dir))

MaxSearch(counter)

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [98]:
answers['24'] = 'Four By Two Productions'

In [97]:
OT= data.original_title
len_OT = {}
for i in OT:
    s = len(str(i))
    len_OT[i] = s
MS = MaxSearch(len_OT)
print (MS)


data.loc[data.original_title == 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan'].production_companies.str.split('|').values[0]

Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
None

['Twentieth Century Fox Film Corporation', 'Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [142]:
answers['25'] = 'Не смог решить, т.к. в s помещен 0 в конце, не знаю как исключить этот 0 из обработки.  Менторы не смогли помочь'

In [143]:
OV= data.overview.str.split('|').sum()
PC = set(data.production_companies.str.split('|').sum())

lor={}
for i in PC:
    s = data[data.production_companies.str.contains(i)].overview.str.split().sum()
    p = len(s)
    lor[i] = p
MaxSearch(lor)

TypeError: object of type 'int' has no len()

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [91]:
answers['26'] = ''

In [92]:
data.loc[(data['vote_average'] > np.percentile(data['vote_average'],99))].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [141]:
answers['27'] = "Не смог решить: программа выдает все время какие - то ошибки. В т.ч. и тот самый 0, но уже в UA. Менторы не смогли помочь"

In [144]:
#Пары поместить в структуру Counter()
#Затем пройти по спискам актеров для каждой записи и составить пары с помощью combinations. 
#Затем из переменной с парами взять most_common

import collections 
import itertools


unic_titles =  data.original_title.str.split('|').sum()
for title in unic_titles:
    s = data.loc[data.original_title.str.contains(title)].cast
    UA = s.str.split('|').sum()
    сombin = itertools.combinations(UA, 2)
    counter = Counter(combin)
most_common_element = counter.most_common(1) 
print(most_common_element)
            
              
#нужно посчитать не количество всевозможных комбинаций, а составить комбинации из актёрского состава в рамках 
#каждого отдельного фильма, и уже потом объединить их всех и просуммировать.
#Для этого можно применить combinations для актёров каждого фильма, пройдясь по всем фильмам в цикле

#1 шаг - уникальные тайтлы unic_actors =  set(data.original_title.str.split('|').sum())
#2 шаг - цикл s = data.loc[data.original_title.str.contains(i)].cast для обращения к ячейкам с фильмами
#3 шаг - в каждой ячейке UA = s.str.split('|').sum() разделяем актеров
#4 шаг - для каждого разделенного актера составляем комбинацию внутри ячейки 
#combin = itertools.combinations(UA, 2)     counter = Counter(combin) 
#

NameError: name 'combin' is not defined

# Submission

In [129]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Не смог решить, т.к. в s помещен 0 в конце, не знаю как исключить этот 0 из обработки',
 '26': '',
 '27': 'Не смог решить: программа выдает все время какие - то ошибки. В т.ч. и тот самый 0, но уже в UA'}

In [96]:
# и убедиться что ни чего не пропустил)
len(answers)

27